<!DOCTYPE html>
<html>
<head>
    <title>IPL Auction</title>
</head>

<body>

<h1>IPL Auction Players</h1>

<table border="1">

<tr>
    <th>Player</th>
    <th>Team</th>
    <th>Role</th>
    <th>Base Price</th>
    <th>Current Bid</th>
    <th>Bid</th>
</tr>

{% for player in players %}

<tr>
<td>{{ player.player_name }}</td>
<td>{{ player.team }}</td>
<td>{{ player.role }}</td>
<td>{{ player.base_price }}</td>
<td>{{ player.current_bid }}</td>

<td>
<a href="/player/{{ player.id }}">Bid</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>